[submodule "dashboard"]
	path = dashboard
	url = git@github.com:YeMyoAung/managing-vehicle-tracking-dashboard.git
[submodule "vehicle-service"]
	path = vehicle-service
	url = git@github.com:YeMyoAung/managing-vehicle-tracking-vehicle-svc.git
[submodule "tracking-service"]
	path = tracking-service
	url = git@github.com:YeMyoAung/managing-vehicle-tracking-tracking-svc.git
[submodule "auth-service"]
	path = auth-service
	url = git@github.com:YeMyoAung/managing-vehicle-tracking-auth-svc.git
[submodule "common"]
	path = common
	url = git@github.com:YeMyoAung/managing-vehicle-tracking-common.git
[submodule "models"]
	path = models
	url = git@github.com:YeMyoAung/managing-vehicle-tracking-models.git
